{% extends 'base.html.twig' %}

{% block title %}Hello EditPostController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Изменить пост</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content, { 'id' :  'mytextarea' } ) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Изменить</button>

    {{ form_end(form) }}

</div>


{% endblock %}
